---
import WeatherAlert from '../parts/WeatherAlert.astro';

interface Props {
  alerts: Array<string>;
}

const { alerts } = Astro.props;

type AlertGroup = {
  special: string[];
  warning: string[];
  advisory: string[];
};

const groupAlerts = (alerts: string[]): AlertGroup => {
  return alerts.reduce<AlertGroup>(
    (acc, alert) => {
      if (alert.endsWith('特別警報')) {
        acc.special = [...acc.special, alert];
      } else if (alert.endsWith('警報')) {
        acc.warning = [...acc.warning, alert];
      } else if (alert.endsWith('注意報')) {
        acc.advisory = [...acc.advisory, alert];
      }
      return acc;
    },
    { special: [], warning: [], advisory: [] }
  );
};

const maxAlertsItemLength = 9;
const categorizedAlerts = groupAlerts(alerts);

// 優先度順に並べて、全体で最大12件に制限
const displayAlerts = [
  ...categorizedAlerts.special,
  ...categorizedAlerts.warning,
  ...categorizedAlerts.advisory,
].slice(0, maxAlertsItemLength);
---

<div class="flex w-full flex-wrap justify-end gap-1">
  {displayAlerts.map((alert) => <WeatherAlert value={alert} />)}
</div>
